body{
    background-color: cornflowerblue;

    display: grid;
    place-items: center;
    
.painel{
    background-color: white;
    width: 600px;
    min-height: 300px;








    text-align: center;
    margin: auto;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 2px 2px 15px black;
    padding-top: 50%;


    
img{
    width: 200px;
    border-radius: 40px;
}